html {
    font-size: 10px;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    background: $color-grey-2;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, select {
    font-size: inherit;
}
