#activity-list {
    .container {
        padding: 0 6rem 6rem 6rem;

        @include  responsive('tablet-down') {
            padding: 0 3rem 3rem 3rem;
        }
    }

    .wrapper {
        width: 100%;
        max-width: 124rem;
        margin: 0 auto;
    }

    .heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4.25rem 0 3.4rem 0;
        font-size: 2.975rem;
        color: $color-black-1;
    }

    .table {
        &__status {
            text-transform: capitalize;
            position: relative;
            padding-left: calc((1.198rem * 2) + 1rem) !important;

            &::before {
                content: '';
                position: absolute;
                left: 1rem;
                top: 50%;
                transform: translateY(-50%);
                height: 1.2rem;
                width: 1.2rem;
                clip-path: circle(50%);
            }

            &--sending::before {
                background: $color-warning;
            }

            &--sent::before {
                background: $color-success;
            }

            &--failed::before {
                background: $color-danger;
            }
        }

        &__sender {
            &--name {
                display: block;
            }

            &--email {
                font-weight: 600;
            }
        }

        @include responsive('tablet-large-down') {
            &__head-last-event,
            &__last-event {
                display: none;
            }
        }

        @include responsive('tablet-down') {
            &__head-attachments,
            &__attachments {
                display: none;
            }
        }

        @include responsive('phone') {
            &__head-subject,
            &__subject {
                display: none;
            }
        }
    }
}
