#login {
    .container {
        padding: 6rem;
        height: 100vh;
        background: #fff;

        @include responsive('phone') {
            padding: 3rem;
        }
    }

    .wrapper {
        display: flex;
        max-width: 46rem;
        margin: 0 auto;
        flex-direction: column;
        height:100%;
    }

    .header {
        margin-bottom: 4.8rem;

        &__logo {
            width: 18rem;
        }

        @include responsive('phone') {
            margin-bottom: 0;
        }
    }

    .main {
        margin: auto 0;
    }

    .heading {
        margin-bottom: 4.8rem;

        &__main {
            display: block;
            font-size: 3.8rem;
            font-weight: 700;
            color: $color-black-1;

            @include responsive('phone') {
                font-size: 2.8rem;
            }
        }

        &__sub {
            display: block;
            font-size: 1.6rem;
            font-weight: 400;
            color: $color-grey-4;
        }

        &__link {
            text-decoration: none;
        }
    }
}
