<template>
    <div id="app">
        <loader v-if="loading"/>
        <router-view @isLoading="isLoading()" @doneLoading="doneLoading()"/>
    </div>
</template>

<script>
import Vue from 'vue';
import Loader from "./components/Loader";

export default Vue.extend({
    components: {
        Loader,
    },

    data() {
        return {
            loading: false,
        }
    },

    methods: {
        isLoading() {
            this.loading = true;
        },

        doneLoading() {
            this.loading = false;
        },
    }
});
</script>
