.btn {
    display: inline-block;
    padding: 1.912rem 3.2rem;
    font-weight: 600;
    font-size: 1.7rem;
    border-radius: 3px;
    border: none;
    transition: all ease .2s;

    &:not(:disabled) {
        cursor: pointer;
    }

    &:focus {
        outline: 0;
    }

    &--animate:active {
        transform: translateY(.2rem) scale(.9);
    }

    &:disabled {
        opacity: .65;
        cursor: not-allowed;
    }

    &--small {
        padding: 1.012rem 2.3rem;
        font-weight: 600;
        font-size: 1.4rem;
    }

    &--blue {
        background: $color-primary-1;
        color: #ffffff;

        &:focus, &:hover {
            background: $color-blue-3;
            border: darken($color-blue-3, 10%);
        }

        &:focus {
            box-shadow: 0 0 0 0.2rem rgba($color-blue-3, .5);
        }

        &:active {
            background: darken($color-blue-3, 10%);
            border: darken($color-blue-3, 20%);
        }
    }

    &--danger {
        background: $color-danger;
        color: #ffffff;

        &:focus, &:hover {
            background: $color-danger;
            border: darken($color-danger, 10%);
        }

        &:focus {
            box-shadow: 0 0 0 0.2rem rgba($color-danger, .5);
        }

        &:active {
            background: darken($color-danger, 10%);
            border: darken($color-danger, 20%);
        }
    }

    &--outline-blue {
        @include outline-button-set($color-primary-1, $color-blue-3);
    }

    &--outline-danger {
        @include outline-button-set($color-danger, $color-danger-2);
    }

    &--outline-success {
        @include outline-button-set($color-success, $color-success-2);
    }
}
