.filter-box {
    border: 1px solid rgba($color-grey-4, .5);
    background: #fff;
    margin-bottom: 3rem;

    &__heading {
        background: $color-grey-3;
        border-bottom: 1px solid rgba($color-grey-4, .5);
        padding: 1em;
        font-size: 1.4rem;
        font-weight: 600;
        color: $color-black-1;
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
        padding: 1em;

        @include responsive('phone') {
            display: block;
        }
    }

    &__body-general {
        display: flex;
        flex: 1;
        padding-right: 2rem;
        border-right: 1px solid rgba($color-grey-4, .3);
        min-width: 50rem;

        :not(:last-child) {
            margin-right: 2rem;
        }

        @include responsive('phone') {
            flex-wrap: wrap;
            min-width: auto;

            :not(:last-child) {
                margin-right: 0;
            }

            * {
                margin-bottom: 3rem;
            }
        }

        @include responsive('tablet-large-down') {
            border-right: none;
            padding-right: 0;
        }
    }

    &__body-date {
        display: flex;
        flex: 1;
        padding-left: 2rem;

        :not(:last-child) {
            margin-right: 2rem;
        }

        @include responsive('phone') {
            flex-wrap: wrap;

            :not(:last-child) {
                margin-right: 0;
            }

            > * {
                margin-bottom: 2rem;
            }
        }

        @include responsive('tablet-large-down') {
            margin-top: 2rem;
            padding-left: 0;
        }
    }

    &__select,
    &__input,
    {
        border: none;
        background: none;
        border-bottom: 1px solid $color-grey-3;
        width: 50%;

        &:focus {
            outline: none;
        }

        @include responsive('phone') {
            width: 100%;
            min-width: auto;
        }
    }

    &__form-group {
        width: 50%;

        @include responsive('phone') {
            width: 100%;
        }
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 600;
    }

    &__form-group &__select,
    &__form-group &__input {
        width: 100%;
    }

    &__button {
        padding: 0 1em 1em 0;
        text-align: right;
    }
}
