.form {
    &__group {
        margin-bottom: 2.1rem;
    }

    &__label {
        display: block;
        margin-bottom: .6rem;
        font-weight: 600;
        color: $color-black-1;
    }

    &__input {
        display: block;
        width: 100%;
        padding: 1.3rem;
        border: 1px solid $color-grey-3;
        border-radius: 3px;

        &:focus {
            outline: 0;
            border-color: $color-purple-3;
            box-shadow: 0 0 0 0.35rem rgba($color-purple-3, .15);
        }

        &--invalid {
            border-color: $color-danger;
        }
    }

    &__error-text {
        display: block;
        margin-top: 1.2rem;
        color: $color-danger;
    }
}
