.side-pane {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba($color-black-1, .5);
    visibility: hidden;
    opacity: 0;
    transition: opacity ease .5s, visibility ease .5s;
    z-index: 10;

    &--show {
        visibility: visible;
        opacity: 1;
    }

    &__overlay {
        height: 100%;
        width: 100%;
        cursor: pointer;

        @include responsive('tablet-down') {
            display: none;
        }
    }

    &__wrapper {
        background: #fff;
        width: 100%;
        max-width: 72rem;
        height: 100%;
        padding: 4.5rem 10.5rem;
        box-shadow: -.2rem 0 -.6 rgba($color-black-1,.1);

        transform: translateX(100%);
        transition: transform ease .5s .2s;

        overflow-y: auto;

        @include responsive('phone') {
            transform: none;
            padding: 2rem;
            opacity: 0;
            transition: opacity ease .2s;
        }
    }

    &--show &__wrapper {
        transform: translateX(0);

        @include responsive('phone') {
            opacity: 1;
        }
    }
}
