.table-container {
    width: 100%;
    background: #fff;
    box-shadow: 0 .3rem .6rem 0 rgba($color-black-1, .1);
    padding: 4.25rem 5.3125rem;

    @include responsive('tablet-down') {
        padding: 2rem;
    }

    @include responsive('phone') {
        overflow-x: auto;
    }
}

.table {
    width: 100%;
    color: $color-grey-4;
    font-size: 1.4rem;
    border-collapse: collapse;

    &__head {
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 600;

        > tr > td {
            padding: 2rem 1rem;
        }
    }

    &__body > tr > td {
        vertical-align: center;
        padding: 1rem;
    }

    &--clickable &__body > tr {
        cursor: pointer;
        transition: all ease .5s;

        &:hover {
            background: darken(#fff, 3%);
        }
    }
}
