.tab {
    &__label-group {
        margin: 3rem 0;
    }

    &__label {
        cursor: pointer;
        border-bottom: 1px solid $color-grey-3;
        padding: 1rem 3rem;
    }

    &__body {
        font-size: 1.4rem;
    }
}
