@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Responsiveness */

.block {
  display: block !important;
  width: 100%;
}

.text-center {
  text-align: center !important;
}

.margin-top-big {
  margin-top: 5rem !important;
}

.margin-top-mid {
  margin-top: 2.5rem !important;
}

.margin-top-small {
  margin-top: 1rem !important;
}

.margin-bottom-big {
  margin-bottom: 5rem !important;
}

.margin-bottom-mid {
  margin-bottom: 2.5rem !important;
}

.margin-bottom-small {
  margin-bottom: 1rem !important;
}

.hidden {
  display: none !important;
}

.text-right {
  text-align: right !important;
}

html {
  font-size: 10px;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  background: #f7f8fb;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
select {
  font-size: inherit;
}

.btn {
  display: inline-block;
  padding: 1.912rem 3.2rem;
  font-weight: 600;
  font-size: 1.7rem;
  border-radius: 3px;
  border: none;
  transition: all ease 0.2s;
}

.btn:not(:disabled) {
  cursor: pointer;
}

.btn:focus {
  outline: 0;
}

.btn--animate:active {
  transform: translateY(0.2rem) scale(0.9);
}

.btn:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

.btn--small {
  padding: 1.012rem 2.3rem;
  font-weight: 600;
  font-size: 1.4rem;
}

.btn--blue {
  background: #00a3b1;
  color: #ffffff;
}

.btn--blue:focus,
.btn--blue:hover {
  background: #00808b;
  border: #005158;
}

.btn--blue:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 128, 139, 0.5);
}

.btn--blue:active {
  background: #005158;
  border: #002225;
}

.btn--danger {
  background: #c91d12;
  color: #ffffff;
}

.btn--danger:focus,
.btn--danger:hover {
  background: #c91d12;
  border: #9a160e;
}

.btn--danger:focus {
  box-shadow: 0 0 0 0.2rem rgba(201, 29, 18, 0.5);
}

.btn--danger:active {
  background: #9a160e;
  border: #6b0f0a;
}

.btn--outline-blue {
  background: transparent;
  color: #00a3b1;
  border: 1px solid #00a3b1;
}

.btn--outline-blue:focus:not(:disabled),
.btn--outline-blue:hover:not(:disabled) {
  background: #00808b;
  color: #fff;
  border-color: #005158;
}

.btn--outline-blue:focus:not(:disabled) {
  box-shadow: 0 0 0 0.2rem rgba(0, 128, 139, 0.5);
}

.btn--outline-blue:active:not(:disabled) {
  background: #005158;
  border-color: #002225;
}

.btn--outline-danger {
  background: transparent;
  color: #c91d12;
  border: 1px solid #c91d12;
}

.btn--outline-danger:focus:not(:disabled),
.btn--outline-danger:hover:not(:disabled) {
  background: #9f170f;
  color: #fff;
  border-color: #005158;
}

.btn--outline-danger:focus:not(:disabled) {
  box-shadow: 0 0 0 0.2rem rgba(0, 128, 139, 0.5);
}

.btn--outline-danger:active:not(:disabled) {
  background: #005158;
  border-color: #002225;
}

.btn--outline-success {
  background: transparent;
  color: #017351;
  border: 1px solid #017351;
}

.btn--outline-success:focus:not(:disabled),
.btn--outline-success:hover:not(:disabled) {
  background: #00533a;
  color: #fff;
  border-color: #005158;
}

.btn--outline-success:focus:not(:disabled) {
  box-shadow: 0 0 0 0.2rem rgba(0, 128, 139, 0.5);
}

.btn--outline-success:active:not(:disabled) {
  background: #005158;
  border-color: #002225;
}

.filter-box {
  border: 1px solid rgba(109, 109, 109, 0.5);
  background: #fff;
  margin-bottom: 3rem;
}

.filter-box__heading {
  background: #d8d8d8;
  border-bottom: 1px solid rgba(109, 109, 109, 0.5);
  padding: 1em;
  font-size: 1.4rem;
  font-weight: 600;
  color: #111;
}

.filter-box__body {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

@media (max-width: 640px) {
  .filter-box__body {
    display: block;
  }
}

.filter-box__body-general {
  display: flex;
  flex: 1;
  padding-right: 2rem;
  border-right: 1px solid rgba(109, 109, 109, 0.3);
  min-width: 50rem;
}

.filter-box__body-general :not(:last-child) {
  margin-right: 2rem;
}

@media (max-width: 640px) {
  .filter-box__body-general {
    flex-wrap: wrap;
    min-width: auto;
  }

  .filter-box__body-general :not(:last-child) {
    margin-right: 0;
  }

  .filter-box__body-general * {
    margin-bottom: 3rem;
  }
}

@media (max-width: 991px) {
  .filter-box__body-general {
    border-right: none;
    padding-right: 0;
  }
}

.filter-box__body-date {
  display: flex;
  flex: 1;
  padding-left: 2rem;
}

.filter-box__body-date :not(:last-child) {
  margin-right: 2rem;
}

@media (max-width: 640px) {
  .filter-box__body-date {
    flex-wrap: wrap;
  }

  .filter-box__body-date :not(:last-child) {
    margin-right: 0;
  }

  .filter-box__body-date > * {
    margin-bottom: 2rem;
  }
}

@media (max-width: 991px) {
  .filter-box__body-date {
    margin-top: 2rem;
    padding-left: 0;
  }
}

.filter-box__select,
.filter-box__input {
  border: none;
  background: none;
  border-bottom: 1px solid #d8d8d8;
  width: 50%;
}

.filter-box__select:focus,
.filter-box__input:focus {
  outline: none;
}

@media (max-width: 640px) {
  .filter-box__select,
  .filter-box__input {
    width: 100%;
    min-width: auto;
  }
}

.filter-box__form-group {
  width: 50%;
}

@media (max-width: 640px) {
  .filter-box__form-group {
    width: 100%;
  }
}

.filter-box__label {
  font-size: 1.2rem;
  font-weight: 600;
}

.filter-box__form-group .filter-box__select,
.filter-box__form-group .filter-box__input {
  width: 100%;
}

.filter-box__button {
  padding: 0 1em 1em 0;
  text-align: right;
}

.form__group {
  margin-bottom: 2.1rem;
}

.form__label {
  display: block;
  margin-bottom: 0.6rem;
  font-weight: 600;
  color: #111;
}

.form__input {
  display: block;
  width: 100%;
  padding: 1.3rem;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
}

.form__input:focus {
  outline: 0;
  border-color: #bfb7e7;
  box-shadow: 0 0 0 0.35rem rgba(191, 183, 231, 0.15);
}

.form__input--invalid {
  border-color: #c91d12;
}

.form__error-text {
  display: block;
  margin-top: 1.2rem;
  color: #c91d12;
}

.paginator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem 0;
}

.paginator__page-monitor {
  font-weight: 600;
}

.side-pane {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(17, 17, 17, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity ease 0.5s, visibility ease 0.5s;
  z-index: 10;
}

.side-pane--show {
  visibility: visible;
  opacity: 1;
}

.side-pane__overlay {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

@media (max-width: 768px) {
  .side-pane__overlay {
    display: none;
  }
}

.side-pane__wrapper {
  background: #fff;
  width: 100%;
  max-width: 72rem;
  height: 100%;
  padding: 4.5rem 10.5rem;
  box-shadow: -0.2rem 0 -0.6 rgba(17, 17, 17, 0.1);
  transform: translateX(100%);
  transition: transform ease 0.5s 0.2s;
  overflow-y: auto;
}

@media (max-width: 640px) {
  .side-pane__wrapper {
    transform: none;
    padding: 2rem;
    opacity: 0;
    transition: opacity ease 0.2s;
  }
}

.side-pane--show .side-pane__wrapper {
  transform: translateX(0);
}

@media (max-width: 640px) {
  .side-pane--show .side-pane__wrapper {
    opacity: 1;
  }
}

.table-container {
  width: 100%;
  background: #fff;
  box-shadow: 0 0.3rem 0.6rem 0 rgba(17, 17, 17, 0.1);
  padding: 4.25rem 5.3125rem;
}

@media (max-width: 768px) {
  .table-container {
    padding: 2rem;
  }
}

@media (max-width: 640px) {
  .table-container {
    overflow-x: auto;
  }
}

.table {
  width: 100%;
  color: #6D6D6D;
  font-size: 1.4rem;
  border-collapse: collapse;
}

.table__head {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
}

.table__head > tr > td {
  padding: 2rem 1rem;
}

.table__body > tr > td {
  vertical-align: center;
  padding: 1rem;
}

.table--clickable .table__body > tr {
  cursor: pointer;
  transition: all ease 0.5s;
}

.table--clickable .table__body > tr:hover {
  background: #f7f7f7;
}

.tab__label-group {
  margin: 3rem 0;
}

.tab__label {
  cursor: pointer;
  border-bottom: 1px solid #d8d8d8;
  padding: 1rem 3rem;
}

.tab__body {
  font-size: 1.4rem;
}

.activity-display__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 640px) {
  .activity-display__heading {
    font-size: 1.4rem;
  }
}

.activity-display__card {
  margin-top: 2.5rem;
}

.activity-display__card-heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.activity-display__card-table {
  border-collapse: collapse;
  width: 100%;
}

.activity-display__card-table > tr {
  border: 1px solid #d8d8d8;
}

.activity-display__card-table > tr > td {
  padding: 1rem;
  font-size: 1.4rem;
}

.activity-display__card-table > tr > td:first-child {
  font-weight: 600;
  text-transform: capitalize;
}

.activity-display__card-table.activity-card-table__column {
  display: none;
}

.card-table-group:not(:last-child) {
  margin-bottom: 4rem;
  position: relative;
}

.card-table-group:not(:last-child)::before {
  content: "";
  position: absolute;
  height: 4rem;
  width: 0.26rem;
  left: 4rem;
  background: #d8d8d8;
  top: 100%;
}

.card-table-group__heading {
  border: 1px solid #d8d8d8;
  border-bottom: none;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.card-table-group__heading .event-history-logo {
  width: 2.38rem;
  margin-right: 1.5rem;
}

.card-table-group__table {
  border: 1px solid #d8d8d8;
  font-size: 1.4rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-table-group__table:not(:last-child) {
  border-bottom: none;
}

.card-table-group__table--clickable {
  cursor: pointer;
  transition: all ease 0.5s;
}

.card-table-group__table--clickable:hover {
  background: #f7f7f7;
}

.card-table-group__column--key {
  display: flex;
  align-items: center;
}

.card-table-group__column--key > img {
  width: 1.5rem;
  margin-right: 1rem;
}

#content-body-html,
#content-body-text {
  display: none;
  opacity: 0;
}

#content-tab-html:checked ~ #content-body-html {
  display: block;
  opacity: 1;
}

#content-tab-html:checked ~ .tab__label-group [for=content-tab-html] {
  border: 1px solid #d8d8d8;
  border-bottom: none;
}

#content-tab-text:checked ~ #content-body-text {
  display: block;
  opacity: 1;
}

#content-tab-text:checked ~ .tab__label-group [for=content-tab-text] {
  border: 1px solid #d8d8d8;
  border-bottom: none;
}

#global-loader .loader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(17, 17, 17, 0.5);
  height: 100vh;
  width: 100%;
}

#global-loader .loader__icon {
  border: 1rem solid #f7f8fb;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  -webkit-animation: spin 0.5s linear infinite;
          animation: spin 0.5s linear infinite;
}

#global-loader .loader__icon {
  border-top: 1rem solid #00808b;
}

.user-profile {
  max-width: 50rem;
  padding: 4rem;
}

@media (max-width: 768px) {
  .user-profile {
    max-width: none;
    padding: 2rem;
  }
}

.user-profile__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-profile__body {
  margin-top: 2rem;
  text-align: center;
}

.profile-block__image {
  width: 20rem;
  height: 20rem;
  background: #f7f8fb;
  margin: auto;
  padding: 5rem;
  border-radius: 50%;
}

.profile-block__image img {
  width: 10rem;
  height: 10rem;
  top: 0;
  left: 0;
}

.profile-block__name {
  font-size: 1.7rem;
  font-weight: 400;
}

.profile-block__email {
  font-size: 1.3rem;
  font-weight: 600;
}

.user-keys {
  margin-top: 5rem;
  text-align: left;
}

.user-keys__row {
  display: flex;
  font-size: 1.4rem;
  border: 1px solid rgba(109, 109, 109, 0.7);
  padding: 1rem;
}

.user-keys__row:not(:last-child) {
  margin-bottom: 2rem;
}

.user-keys__row--key {
  margin-right: 2rem;
}

.user-keys__row--value {
  font-weight: 400;
}

.user-keys__button {
  text-align: right;
}

.user-profile-button {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  transition: all ease 0.2s;
}

.user-profile-button__image {
  width: 3rem;
  height: 3rem;
  transition: all ease 0.2s;
}

.user-profile-button__image image {
  width: 100%;
}

.user-profile-button:hover {
  color: #00808b;
}

.user-profile-button:hover .user-profile-button__image {
  filter: invert(32%) sepia(66%) saturate(972%) hue-rotate(145deg) brightness(101%) contrast(101%);
}

.user-profile-button:active,
.user-profile-button:focus {
  outline: none;
  color: #006d77;
}

#activity-list .container {
  padding: 0 6rem 6rem 6rem;
}

@media (max-width: 768px) {
  #activity-list .container {
    padding: 0 3rem 3rem 3rem;
  }
}

#activity-list .wrapper {
  width: 100%;
  max-width: 124rem;
  margin: 0 auto;
}

#activity-list .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4.25rem 0 3.4rem 0;
  font-size: 2.975rem;
  color: #111;
}

#activity-list .table__status {
  text-transform: capitalize;
  position: relative;
  padding-left: calc((1.198rem * 2) + 1rem) !important;
}

#activity-list .table__status::before {
  content: "";
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  height: 1.2rem;
  width: 1.2rem;
  -webkit-clip-path: circle(50%);
          clip-path: circle(50%);
}

#activity-list .table__status--sending::before {
  background: #ef6a32;
}

#activity-list .table__status--sent::before {
  background: #017351;
}

#activity-list .table__status--failed::before {
  background: #c91d12;
}

#activity-list .table__sender--name {
  display: block;
}

#activity-list .table__sender--email {
  font-weight: 600;
}

@media (max-width: 991px) {
  #activity-list .table__head-last-event,
  #activity-list .table__last-event {
    display: none;
  }
}

@media (max-width: 768px) {
  #activity-list .table__head-attachments,
  #activity-list .table__attachments {
    display: none;
  }
}

@media (max-width: 640px) {
  #activity-list .table__head-subject,
  #activity-list .table__subject {
    display: none;
  }
}

#login .container {
  padding: 6rem;
  height: 100vh;
  background: #fff;
}

@media (max-width: 640px) {
  #login .container {
    padding: 3rem;
  }
}

#login .wrapper {
  display: flex;
  max-width: 46rem;
  margin: 0 auto;
  flex-direction: column;
  height: 100%;
}

#login .header {
  margin-bottom: 4.8rem;
}

#login .header__logo {
  width: 18rem;
}

@media (max-width: 640px) {
  #login .header {
    margin-bottom: 0;
  }
}

#login .main {
  margin: auto 0;
}

#login .heading {
  margin-bottom: 4.8rem;
}

#login .heading__main {
  display: block;
  font-size: 3.8rem;
  font-weight: 700;
  color: #111;
}

@media (max-width: 640px) {
  #login .heading__main {
    font-size: 2.8rem;
  }
}

#login .heading__sub {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  color: #6D6D6D;
}

#login .heading__link {
  text-decoration: none;
}

