.activity-display {
    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include responsive('phone') {
            font-size: 1.4rem;
        }
    }

    &__card {
        margin-top: 2.5rem;
    }

    &__card-heading {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    &__card-table {
        border-collapse: collapse;
        width: 100%;

        > tr {
            border: 1px solid $color-grey-3;
        }

        > tr > td {
            padding: 1rem;
            font-size: 1.4rem;
        }

        > tr > td:first-child {
            font-weight: 600;
            text-transform: capitalize;
        }
    }
}

.activity-display__card-table.activity-card-table {
    &__column {
        display: none;
    }
}

.card-table-group {
    &:not(:last-child) {
        margin-bottom: 4rem;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            height: 4rem;
            width: .26rem;
            left: 4rem;
            background: $color-grey-3;
            top: 100%;
        }
    }

    &__heading {
        border: 1px solid $color-grey-3;
        border-bottom: none;
        padding: 1rem;
        font-size: 1.4rem;
        font-weight: 600;
        display: flex;
        align-items: center;
    }

    &__heading .event-history-logo {
        width: 2.38rem;
        margin-right: 1.5rem;
    }

    &__table {
        border: 1px solid $color-grey-3;
        font-size: 1.4rem;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:not(:last-child) {
            border-bottom: none;
        }

        &--clickable {
            cursor: pointer;
            transition: all ease .5s;

            &:hover {
                background: darken(#fff, 3%);
            }
        }
    }

    &__column {
        &--key {
            display: flex;
            align-items: center;
        }

        &--key > img {
            width: 1.5rem;
            margin-right: 1rem;
        }
    }
}

#content-body-html,
#content-body-text {
    display: none;
    opacity: 0;
}

#content-tab-html:checked  {
    ~ #content-body-html {
        display: block;
        opacity: 1;
    }

    ~ .tab__label-group [for='content-tab-html'] {
        border: 1px solid $color-grey-3;
        border-bottom: none;
    }
}

#content-tab-text:checked  {
    ~ #content-body-text {
        display: block;
        opacity: 1;
    }

    ~ .tab__label-group [for='content-tab-text'] {
        border: 1px solid $color-grey-3;
        border-bottom: none;
    }
}
