#global-loader {
    .loader {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba($color-black-1, .5);
        height: 100vh;
        width: 100%;

        &__icon {
            border: 1rem solid $color-grey-2;
            border-radius: 50%;
            width: 8rem;
            height: 8rem;
            animation: spin .5s linear infinite;
        }

        &__icon {
            border-top: 1rem solid $color-blue-3;
        }
    }
}
