.user-profile-button {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    transition:all ease .2s;

    &__image {
        width: 3rem;
        height: 3rem;
        transition:all ease .2s;

        image {
            width: 100%;
        }
    }

    &:hover {
        color: $color-blue-3;
    }

    &:hover &__image {
        filter: invert(32%) sepia(66%) saturate(972%) hue-rotate(145deg) brightness(101%) contrast(101%);
    }

    &:active,
    &:focus {
        outline: none;
        color: darken($color-blue-3, 4%);
    }
}
