.user-profile {
    max-width: 50rem;
    padding: 4rem;

    @include responsive('tablet-down') {
        max-width: none;
        padding: 2rem;
    }

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__heading-button {

    }

    &__body {
        margin-top: 2rem;
        text-align: center;
    }
}

.profile-block {
    &__image {
        width: 20rem;
        height: 20rem;
        background: $color-grey-2;
        margin: auto;
        padding: 5rem;
        border-radius: 50%;
    }

    &__image img {
        width: 10rem;
        height: 10rem;
        top: 0;
        left: 0;
    }

    &__name {
        font-size: 1.7rem;
        font-weight: 400;
    }

    &__email {
        font-size: 1.3rem;
        font-weight: 600;
    }
}

.user-keys {
    margin-top: 5rem;
    text-align: left;

    &__row {
        display: flex;
        font-size: 1.4rem;
        border: 1px solid rgba($color-grey-4, .7);
        padding: 1rem;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        &--key {
            margin-right: 2rem;
        }

        &--value {
            font-weight: 400;
        }
    }

    &__button {
        text-align: right;
    }
}
