<template>
    <div id="activity-list">
        <div class="container">
            <div class="wrapper">
                <h1 class="heading">
                    Activities

                    <user-profile-button/>
                </h1>

                <!--Todo: Extract to a component-->
                <div class="filter-box">
                    <div class="filter-box__heading">
                        Search activities/email by:
                    </div>

                    <form class="filter-box__body" @submit.prevent="filterActivities()" id="filter-form">
                        <div class="filter-box__body-general">
                            <select title="Filter Type" class="filter-box__select" v-model="filterBy">
                                <option value="">Filter Type</option>
                                <option value="sender">Sender</option>
                                <option value="recipient">To</option>
                                <option value="copied">Cc</option>
                                <option value="blind_copied">Bcc</option>
                                <option value="subject">Subject</option>
                                <option value="contains">Contains</option>
                                <option value="status">Status</option>
                            </select>

                            <select title="Filter Type" class="filter-box__select" v-model="filterPhraseSelect"
                                    v-if="filterBy === 'status'" required>
                                <option value="">Select status</option>
                                <option value="sending">Sending</option>
                                <option value="sent">Sent</option>
                                <option value="failed">Failed</option>
                            </select>

                            <input :type="filterFields[filterBy]" class="filter-box__input"
                                   title="Search Phrase" placeholder="Enter search here" v-model="filterPhraseText"
                                   v-if="filterBy !== 'status'" :required="!!filterBy"/>
                        </div>

                        <div class="filter-box__body-date">
                            <div class="filter-box__form-group">
                                <label class="filter-box__label">From (date)</label>
                                <input type="date" name="fromDate" class="filter-box__input" title="From Date"
                                       :max="today"
                                       placeholder="Select start date" v-model="fromDate"/>
                            </div>

                            <div class="filter-box__form-group">
                                <label class="filter-box__label">To (date)</label>
                                <input type="date" name="toDate" class="filter-box__input" title="To Date" :max="today"
                                       :min="fromDate ? fromDate : ''"
                                       placeholder="Select end date" v-model="toDate"/>
                            </div>
                        </div>
                    </form>

                    <div class="filter-box__button">
                        <button class="btn btn--animate btn--outline-danger btn--small" type="button"
                                @click="resetFilters()" v-if="isInFilterMode">
                            Reset
                        </button>

                        <button class="btn btn--animate btn--outline-blue btn--small" type="submit" form="filter-form">
                            Search
                        </button>
                    </div>
                </div>


                <div class="table-container">
                    <table class="table table--clickable">
                        <thead class="table__head">
                        <tr>
                            <td class="table__head-status">Status</td>
                            <td class="table__head-sender">Sender</td>
                            <td class="table__head-subject">Subject</td>
                            <td class="table__head-attachments">Attachments</td>
                            <td class="table__head-last-event">Last Event Received</td>
                        </tr>
                        </thead>

                        <tbody class="table__body">
                        <tr v-for="activity in activities.data" @click="openActivity(activity.id)"
                            :set="activitiesById[activity.id] = activity">
                            <td class="table__status" :class="'table__status--' + (activity.status)">
                                {{ activity.status }}
                            </td>
                            <td class="table__sender">
                                <span class="table__sender--name" v-if="activity.from_name">
                                    {{ activity.from_name }}
                                </span>

                                <span class="table__sender--email">
                                    {{ activity.from_email }}
                                </span>
                            </td>
                            <td class="table__subject">{{ activity.subject }}</td>
                            <td class="table__attachments">{{ activity.number_of_attachments }}</td>
                            <td class="table__last-event">
                                {{
                                    activity.isPosted ?
                                        activity.created_at :
                                        (
                                            activity.isSent ?
                                                activity.sent_at :
                                                activity.failed_at
                                        )
                                }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!--TODO: extract into a component-->
                <div class="paginator" v-if="hasPrevious || hasNext">
                    <button class="btn btn--outline-blue btn--small paginator__button" :disabled="!hasPrevious"
                            @click="loadAnotherPage('previous')">
                        Previous
                    </button>

                    <span class="paginator__page-monitor" v-if="lastPageNumber">
                        {{
                            `${routeQuery.page}/${lastPageNumber}`
                        }}
                    </span>

                    <button class="btn btn--outline-blue btn--small paginator__button" :disabled="!hasNext"
                            @click="loadAnotherPage('next')">
                        Next
                    </button>
                </div>
            </div>
        </div>

        <activity-information :activeActivity="activeActivity" @closeActivity="closeActivity()"></activity-information>
    </div>
</template>

<script>
import Vue from 'vue';
import {mapActions} from 'vuex';
import LogoutButton from "../components/LogoutButton";
import ActivityInformation from "../components/ActivityInformation";
import UserProfileButton from "../components/UserProfileButton";

export default Vue.extend({
    components: {
        LogoutButton,
        ActivityInformation,
        UserProfileButton,
    },

    data() {
        return {
            activities: [],
            activitiesById: {},
            isInFilterMode: false,

            // Page size and page direction checkers.
            lastPageNumber: 0,
            hasNext: false,
            hasPrevious: false,

            // Controls what is shown in the activity-information side modal.
            activeActivity: {},

            // Filter form models.
            filterBy: '',
            filterPhraseSelect: '',
            filterPhraseText: null,
            fromDate: null,
            toDate: null,

            // This property takes care of what the input type of the search_phrase
            // input field will be. Since status, is a select and has no direct
            // effect on the field (it will be hidden), it is set to select.
            filterFields: {
                sender: 'email',
                recipient: 'email',
                copied: 'email',
                blind_copied: 'email',
                contains: 'text',
                subject: 'text',
                status: 'select',
            },

            today: new Date().toISOString().split("T")[0],

            // This is the property that controls how the data from the API is filtered or
            // the right page intended by the user while preserving filter contents.
            routeQuery: {
                page: 1,
            }
        }
    },

    methods: {
        ...mapActions(['loadActivities', 'logout']),

        /**
         * Get activities for user.
         *
         * @return {Promise<Route>}
         */
        async getActivities() {
            try {
                this.$emit('isLoading');

                const query = {
                    ...this.routeQuery,
                }

                // Remove api-unused parameters.
                delete query.filterBy;

                this.activities = await this.loadActivities(query);
                const {meta} = this.activities;

                // Sort out page-related configurations.
                this.routeQuery.page = meta.current_page;
                this.lastPageNumber = Math.ceil(meta.total / meta.per_page);

                // Determine if data has more directions.
                this.hasNext = this.routeQuery.page < this.lastPageNumber;
                this.hasPrevious = this.routeQuery.page > 1;

                // For a sane environment, reset the activity-view-pane.
                this.closeActivity();
            } catch (e) {
                if (!e.response) {
                    alert('Something went wrong. Please, refresh the page.');

                    throw e;
                }

                if (e.response.status === 401) {
                    this.$emit('doneLoading');

                    return await this.logout();
                }

                // todo: complete this for filter.
                if (e.response.status === 422) {
                    //
                }

                alert('Something went wrong. Please, refresh the page.');
            } finally {
                this.$emit('doneLoading');
            }
        },

        /**
         * Get details of an activity.
         *
         * @param {int} activityId
         */
        openActivity(activityId) {
            this.activeActivity = this.activitiesById[activityId];
            console.log(this.activeActivity);
        },

        /**
         * Close side-modal showing activity information.
         */
        closeActivity() {
            this.activeActivity = {};
        },

        /**
         * Filter activities by user-chosen parameters.
         */
        async filterActivities() {
            const data = {};

            if (this.filterBy && (this.filterPhraseText || this.filterPhraseSelect)) {
                data.filterBy = this.filterBy;
                data[this.filterBy] = this.filterBy === 'status' ? this.filterPhraseSelect : this.filterPhraseText;
            }

            if (this.fromDate) {
                data['date_from'] = this.fromDate;
            }

            if (this.toDate) {
                data['date_to'] = this.toDate;
            }

            if (!Object.keys(data).length) {
                return;
            }

            // Add items to route-query object.
            this.routeQuery = {
                page: 1,
                ...data,
            }

            // Check if items to push are not the same as the current route.
            if (_.isEqual(this.$route.query, this.routeQuery)) {
                return;
            }

            this.isInFilterMode = true;

            // Push new route to history and change in url bar.
            await this.$router.push({
                name: 'activities', query: {
                    ...this.routeQuery,
                }
            });

            // Put on filter-watcher.

            return await this.getActivities();
        },

        /**
         * Reset the filterers.
         */
        async resetFilters() {
            this.routeQuery = {
                page: 1,
            }

            // Reset the filter models.
            this.filterPhraseSelect = '';
            this.filterPhraseText = '';
            this.filterBy = '';
            this.fromDate = '';
            this.toDate = '';

            // Turn of filtering mode.
            this.isInFilterMode = false;

            // Remove route query params.
            await this.$router.push({name: 'activities'});

            // Reload all data on the page.
            return await this.getActivities();
        },

        /**
         * Put on the filter-mode.
         */
        putOnFilter() {
            this.isInFilterMode = true;
        },

        /**
         * Load a new page based on direction click.
         *
         * @param direction
         * @return {Promise<Route> | Promise<boolean>}
         */
        async loadAnotherPage(direction) {
            switch (direction) {
                case 'next':
                    if (!this.hasNext) {
                        return false;
                    }

                    this.routeQuery.page = ++this.routeQuery.page;

                    return await this.getActivities();
                case 'previous':
                    if (!this.hasPrevious) {
                        return false;
                    }

                    this.routeQuery.page = --this.routeQuery.page;

                    return await this.getActivities();
                default:
                    return false;
            }
        }
    },

    /**
     * On-create hook for this component (vue default).
     *
     * @return {Promise<void>}
     */
    async created() {
        const params = this.$route.query;
        const filterByIsValid = params.filterBy && this.filterFields[params.filterBy];

        // Prefill the filter form if filtering is detected in the query params.
        if (filterByIsValid) {
            this.filterBy = params.filterBy;
            this.filterPhraseText = params.filterBy === 'status' ? this.filterPhraseText : params[params.filterBy];
            this.filterPhraseSelect = params.filterBy === 'status' ? params[params.filterBy] : this.filterPhraseSelect;
        }

        // Fill date filters.
        this.fromDate = params.date_from || this.fromDate;
        this.toDate = params.date_to || this.toDate;

        // Check if query params have filter items.
        if (filterByIsValid || params.date_from || params.date_to) {
            this.isInFilterMode = true;
        }

        // Fill the routeQuery object with the gotten params.
        this.routeQuery = {
            ...params,
        }

        // Set default page to 1 if no page was given.
        this.routeQuery.page = params.page || 1;

        await this.getActivities();
    },
});
</script>
