<template>
    <div id="dashboard">
        {{ messages }}
    </div>
</template>

<script>
import Vue from 'vue';
import {mapActions} from 'vuex';

export default Vue.extend({
    data() {
        return {
            messages: 'This is dashboard.'
        }
    }
});
</script>
