<template>
    <div id="login">
        <div class="container">
            <div class="wrapper">
                <header class="header">
                    <img src="/images/mailersend.svg" class="header__logo" alt="logo">
                </header>

                <main class="main">
                    <h1 class="heading">
                        <span class="heading__main">Welcome back</span>
                        <span class="heading__sub">
                        Don't have an account? <router-link :to="{ name: 'register' }"
                                                            class="heading__link">Register</router-link>
                    </span>
                    </h1>

                    <form id="login-form" class="form" method="post" @submit.prevent="login">
                        <small v-if="loginError" class="form__error-text margin-bottom-small">{{ loginError }}</small>

                        <div class="form__group">
                            <label class="form__label" for="email">Email address</label>
                            <input type="email" id="email" name="email" autocomplete="email" class="form__input"
                                   v-model="email" required/>
                            <small v-if="emailError" class="form__error-text">{{ emailError }}</small>
                        </div>

                        <div class="form__group">
                            <label class="form__label" for="password">Password</label>
                            <input type="password" id="password" name="password" class="form__input" v-model="password"
                                   required/>
                            <small v-if="passwordError">{{ passwordError }}</small>
                        </div>

                        <div class="form__btn">
                            <button class="btn btn--blue block" type="submit" :disabled="loading">
                                {{ loading ? 'Logging in...' : 'Login' }}
                            </button>
                        </div>
                    </form>
                </main>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue';
import {mapActions} from 'vuex';

export default Vue.extend({
    data() {
        return {
            messages: 'This is login page.',
            loading: false,
            email: null,
            password: null,
            emailError: null,
            passwordError: null,
            loginError: null,
        }
    },

    methods: {
        ...mapActions(['logUserIn']),

        /**
         * Log the user in with provided credentials.
         *
         * @return {Promise<void>}
         */
        async login() {
            try {
                this.loading = true;
                this.resetError();

                await this.logUserIn({
                    email: this.email,
                    password: this.password
                });

                await this.$router.push({name: 'activities'});
            } catch (e) {

                if (!e.response) {
                    throw e;
                }

                const {response} = e;

                if (response.status === 422) {
                    const {data} = response;
                    this.loginError = data.message;

                    if (!data.errors) {
                        return;
                    }

                    this.emailError = data.errors.email ? data.errors.email[0] : null;
                    this.passwordError = data.errors.password ? data.errors.password[0] : null;

                    return;
                }

                alert('Something went wrong. Please, refresh and try again.');
            } finally {
                this.loading = false;
            }
        },

        /**
         * Reset all errors to null.
         */
        resetError() {
            this.emailError = null;
            this.passwordError = null;
            this.loginError = null;
        },

        beforeRouteEnter (to, from, next) {
            document.title = 'Login';

            return next();
        },
    }
});
</script>
