<template>
    <div id="activity-information">

        <div class="side-pane" :class="activeActivity.id ? 'side-pane--show' : ''">
            <div class="side-pane__overlay" @click="closeActivity"></div>
            <div class="side-pane__wrapper activity-display">
                <div class="activity-display__heading">
                    <h2 class="side-pane__heading-text">
                        Activity Information
                    </h2>

                    <button class="btn btn--small btn--outline-blue side-pane__heading-button" @click='closeActivity'>
                        Close
                    </button>
                </div>

                <div class="activity-display__details activity-display__card">
                    <h3 class="activity-display__card-heading">
                        Details
                    </h3>

                    <table class="activity-display__card-table activity-card-table">
                        <tr>
                            <td>From</td>
                            <td>{{ activeActivity.from_email }}</td>
                        </tr>

                        <tr v-for="recipient in activeActivity.recipients">
                            <td>{{ recipient.type !== 'direct' ? recipient.type : 'to' }}</td>
                            <td>{{ recipient.email }}</td>
                        </tr>

                        <tr>
                            <td>Subject</td>
                            <td>{{ activeActivity.subject }}</td>
                        </tr>

                        <tr>
                            <td>Attachments</td>
                            <td>{{ activeActivity.number_of_attachments }}</td>
                        </tr>

                        <tr>
                            <td>API Key</td>
                            <td>{{ activeActivity.user_key ? activeActivity.user_key.api_key : null }}</td>
                        </tr>
                    </table>
                </div>

                <div class="activity-display__event-history activity-display__card">
                    <h3 class="activity-display__card-heading">
                        Event History
                    </h3>

                    <div class="card-table-group">
                        <div class="card-table-group__heading">
                            <img src="/images/favicon-32x32.png" alt="logo" class="event-history-logo"/>
                            Received by Minisend
                        </div>

                        <div class="card-table-group__table">
                            <div class="card-table-group__column--key">
                                {{ !activeActivity.isPosted ? 'Started' : '' }}
                                Processing
                            </div>

                            <div class="card-table-group__column--value">
                                {{ activeActivity.created_at }}
                            </div>
                        </div>
                    </div>

                    <div class="card-table-group" v-if="activeActivity.isSent">
                        <div class="card-table-group__heading">
                            <img src="/images/user-icon.svg" alt="logo" class="event-history-logo"/>
                            Sent to recipient{{
                                activeActivity.recipients ?
                                    (activeActivity.recipients.length ? 's' : '') :
                                    ''
                            }}
                        </div>

                        <div class="card-table-group__table">
                            <div class="card-table-group__column--key">
                                <img src="/images/success.png" alt="success icon"/>
                                Sent
                            </div>

                            <div class="card-table-group__column--value">
                                {{ activeActivity.sent_at }}
                            </div>
                        </div>
                    </div>

                    <div class="card-table-group" v-if="activeActivity.failed">
                        <div class="card-table-group__heading">
                            <img src="/images/red-x.png" alt="logo" class="event-history-logo"/>
                            Failed to send
                        </div>

                        <div class="card-table-group__table">
                            <div class="card-table-group__column--key">
                                Failed
                            </div>

                            <div class="card-table-group__column--value">
                                {{ activeActivity.failed_at }}
                            </div>
                        </div>

                        <div class="card-table-group__table" v-if="activeActivity.failure_reason">
                            {{ activeActivity.failure_reason }}
                        </div>
                    </div>
                </div>

                <div class="activity-display__content activity-display__card">
                    <h3 class="activity-display__card-heading">
                        Content
                    </h3>

                    <div class="activity-display__card-body">
                        <div class="tab">
                            <input type="radio" id="content-tab-html" name="content-tab" checked value="html" class="hidden" />
                            <input type="radio" id="content-tab-text" name="content-tab" value="text" class="hidden" />

                            <div class="tab__label-group">
                                <label for="content-tab-html" class="tab__label">
                                    HTML
                                </label>

                                <label for="content-tab-text" class="tab__label">
                                    Text
                                </label>
                            </div>

                            <div id="content-body-html" class="tab__body" v-html="activeActivity.html_content"></div>

                            <div id="content-body-text" class="tab__body">
                                {{ activeActivity.text_content }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue';

export default Vue.extend({
    name: 'ActivityInformation',
    props: ['activeActivity'],

    methods: {
        /**
         * Close side-modal showing activity information.
         */
        closeActivity() {
            this.$emit('closeActivity');
        },
    }
});
</script>
