<template>
    <div id="global-loader" >
        <div class="loader">
            <div class="loader__icon"></div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue';

export default Vue.extend({
    name: 'Loader',
});
</script>
