<template>
    <button class="btn btn--small btn--danger" @click="logout">
        Logout
    </button>
</template>

<script>
import Vue from 'vue';
import store from '../store';

export default Vue.extend({
    name: 'LogoutButton',
    methods: {
        /**
         * Log user out.
         *
         * @return {Promise<Route>}
         */
        async logout() {
            await store.dispatch('logout');
        },
    },
});
</script>
