<template>
    <div id="user-profile">
        <div class="side-pane" :class="showUserProfile ? 'side-pane--show' : ''">
            <div class="side-pane__overlay" @click="close()"></div>

            <div class="side-pane__wrapper user-profile">
                <div class="user-profile__heading">
                    <logout-button class="side-pane__heading-button" />

                    <button class="btn btn--small btn--outline-blue side-pane__heading-button" @click='close()'>
                        Close
                    </button>
                </div>

                <div class="user-profile__body">
                    <div class="profile-block">
                        <div class="profile-block__image">
                            <img src="/images/user-icon.svg" :alt="user.name"/>
                        </div>

                        <div class="profile-block__name">
                            {{ user.name }}
                        </div>

                        <div class="profile-block__email">
                            {{ user.email }}
                        </div>
                    </div>

                    <div class="user-keys">
                        <div class="user-keys__row" v-for="key in user.keys">
                            <div class="user-keys__row--key">API Key</div>

                            <div class="user-keys__row--value">{{ key.apiKey }}</div>
                        </div>

                        <div class="user-keys__button">
                            <button class="btn btn--small btn--outline-success" disabled>+ New</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue';
import LogoutButton from "./LogoutButton";
import currentUser from "../store/currentUser";

export default Vue.extend({
    name: 'UserProfile',
    props: ['showUserProfile'],

    data() {
        return {
            user: currentUser.user,
        }
    },

    components: {
        LogoutButton,
    },

    methods: {
        /**
         * Close side-modal showing user profile.
         */
        close() {
            this.$emit('close');
        },
    }
});
</script>
