<template>
    <div id="user-profile-icon">
        <button class="user-profile-button" @click="open()">
            <svg xmlns="http://www.w3.org/2000/svg" class="user-profile-button__image">
                <image href="/images/user-icon.svg"/>
            </svg>

            {{ user.name }}
        </button>

        <user-profile :showUserProfile="showUserProfile" @close="close()"/>
    </div>
</template>

<script>
import Vue from 'vue';
import UserProfile from "./UserProfile";
import currentUser from "../store/currentUser";

export default Vue.extend({
    name: 'UserProfileButton',
    components: {
        UserProfile,
    },

    data() {
        return {
            showUserProfile: false,
            user: currentUser.user,
        }
    },

    methods: {
        /**
         * Open user profile.
         */
        open() {
            this.showUserProfile = true;
        },

        /**
         * Close user profile.
         */
        close() {
            this.showUserProfile = false;
        },
    },
});
</script>
