@mixin outline-button-set($color1, $color2) {
    background: transparent;
    color: $color1;
    border: 1px solid $color1;

    &:focus:not(:disabled), &:hover:not(:disabled) {
        background: $color2;
        color: #fff;
        border-color: darken($color-blue-3, 10%);
    }

    &:focus:not(:disabled) {
        box-shadow: 0 0 0 0.2rem rgba($color-blue-3, .5);
    }

    &:active:not(:disabled) {
        background: darken($color-blue-3, 10%);
        border-color: darken($color-blue-3, 20%);
    }
}

/* Responsiveness */
@mixin responsive($device) {
    $max-screen-width: map-get((
        phone: 640px,
        tablet-down: 768px,
        tablet-large-down: 991px,
        desktop-down: 1024px,
        large-screen-down: 1200px,
    ), $device);

    @media (max-width: $max-screen-width) {
        @content
    }
}
