.block {
    display: block !important;
    width: 100%;
}

.text-center {
    text-align: center !important;
}

.margin-top-big {
    margin-top: $size-big !important;
}

.margin-top-mid {
    margin-top: $size-mid !important;
}

.margin-top-small {
    margin-top: $size-small !important;
}

.margin-bottom-big {
    margin-bottom: $size-big !important;
}

.margin-bottom-mid {
    margin-bottom: $size-mid !important;
}

.margin-bottom-small {
    margin-bottom: $size-small !important;
}

.hidden {
    display: none !important;
}

.text-right {
    text-align: right !important;
}
