// Colors
$color-black-1: #111;

$color-grey-2: #f7f8fb;
$color-grey-3: #d8d8d8;
$color-grey-4: #6D6D6D;

$color-primary-1: #00a3b1;

$color-blue-3: #00808b;
$color-purple-3: #bfb7e7;

$color-danger: #c91d12;
$color-danger-2: #9f170f;

$color-success: #017351;
$color-success-2: #00533a;

$color-warning: #ef6a32;

// Sizes
$size-small: 1rem;
$size-mid: 2.5rem;
$size-big: 5rem;
